/* ═══════════════════════════════════════
   CONTACT — AE CUPS
═══════════════════════════════════════ */

.contact {
  display:flex;
  padding: 2rem 4rem;
  background-color: var(--color-section);
  transition: background-color 0.6s ease;
  gap: 7rem;
  width: 100%;
  justify-content: space-between;
}


/* ═══════════════════════════════════════
   HEADER
═══════════════════════════════════════ */

.contact__header {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-border);
  transition: border-color 0.6s ease;
  flex-basis: 50%;
  display: inline-block;
}

.contact__label {
  font-family: 'DM Mono', monospace;
  font-size: 0.6rem;
  letter-spacing: 0.28em;
  text-transform: uppercase;
  color: var(--color-caramel);
  margin-bottom: 0.8rem;
}

.contact__heading {
  font-family: 'Playfair Display', serif;
  font-size: clamp(2rem, 6vw, 5.2rem);
  font-weight: 400;
  line-height: 1.15;
  color: var(--color-heading);
  transition: color 0.6s ease;
}

.contact__heading em {
  font-style: italic;
  color: var(--color-caramel);
}


/* ═══════════════════════════════════════
   THREE COLUMN GRID
═══════════════════════════════════════ */

.contact__grid {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  width: 100%;
}

.contact__block-label {
  font-family: 'DM Mono', monospace;
  font-size: 0.58rem;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: var(--color-caramel);
  margin-bottom: 1rem;
}

.contact__block-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.05rem;
  font-weight: 300;
  font-style: italic;
  color: var(--color-body);
  line-height: 1.9;
  transition: color 0.6s ease;
}

.contact__link {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.05rem;
  font-weight: 300;
  font-style: italic;
  color: var(--color-body);
  text-decoration: none;
  transition: color 0.25s ease;
  display: inline-block;
}

.contact__link:hover {
  color: var(--color-caramel);
}


/* ═══════════════════════════════════════
   DIVIDER
═══════════════════════════════════════ */



/* ═══════════════════════════════════════
   SOCIAL LINKS
═══════════════════════════════════════ */
.social-icons {
  justify-content: left;
}

.social-icons svg {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-right: 5px;
}

.social-icons svg:hover {
  color: var(--color-caramel);
}


/* ═══════════════════════════════════════
   RESPONSIVE
═══════════════════════════════════════ */

@media (max-width: 900px) {
  .contact {
    padding :2rem;
    flex-direction: column;
    gap:0;
  }
  .contact__header{
    
    align-items: flex-start;
  }
  .contact__grid {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 2rem 1.5rem;
  }

  .contact__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .contact__block p{
    font-size: 0.75rem;
  }
}